{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/index.css') }}">
{% endblock %}

{% block title %}DOMMA - Accueil{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Mes contextes de travail</h1>
        </div>

        <!-- Affichage des flashs --->
        {{ include('_alerts.html.twig') }}

        <!-- Affichage de tous les contextes appartenants à l'utilisateur -->
        <div class="contexts-container">
            {% for context in contextes %}
                <div class="context-space">
                    <a href="{{ path('context_show', {'id': context.id }) }}" class="contexts-link context-text">
                        <p class="context-title">{{ context.title }}</p>
                        <p class="context-description">{{ context.description }}</p>
                    </a>
                    <div class="days-edit-icon">
                        <p class="context-days">Jours restants : {{ context.daysLeft }}</p>
                        <a href="{{ path('context_edit', {'id': context.id }) }}"><i class="fas fa-cog icon-context"></i></a>
                    </div>
                </div>
            {% endfor %}
            <a href="{{ path('context_new') }}" class="context-space contexts-link"><span class="context-plus">+</span></a>
        </div>

        <!-- Div qui donne style à la partie inférieur du site, avec separateur -->
        <div class="separator-bottom"></div>
    </main>
{% endblock %}
