{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/context/edit.css') }}">
{% endblock %}

{% block title %}DOMMA - Création de contexte de travail{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Création de contexte de travail</h1>
        </div>

        <!-- Affichage des flashs --->
        {{ include('_alerts.html.twig') }}

        <!-- Formulaire de création d'un contexte de travail -->
        <div class="edit-container">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-errors-container">
                    {{ form_errors(form.duration) }}
                </div>
            <div class="form-buttons">
                <button class="edit-context">{{ button_label|default('Créer le contexte') }}</button>
                <a href="{{ path('context_index') }}" id="form-cancel">Annuler</a>
            </div>
            {{ form_end(form) }}
        </div>

        <!-- Div qui donne style à la partie inférieur du site, avec separateur -->
        <div class="separator-bottom"></div>
    </main>
{% endblock %}
