{% extends 'layout.html.twig' %}

{% block title %}DOMMA - Création de contexte de travail{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Création de contexte de travail</h1>
        </div>

        <!-- Affichage des flashs --->
        {{ include('_alerts.html.twig') }}

        <!-- Formulaire de création d'un contexte de travail -->
        <div class="edit-container">
            {{ form_start(form, {'attr': {'class': 'edit-new-form form-edit-context'}}) }}
                {{ form_widget(form) }}
                <div class="form-errors-container">
                        {{ form_errors(form.duration) }}
                        {{ form_errors(form.title) }}
                    </div>
                <div class="form-buttons">
                    <button class="edit-context">{{ button_label|default('Créer le contexte') }}</button>
                    <a href="{{ path('context_index') }}" class="form-cancel">Annuler</a>
                </div>
            {{ form_end(form) }}
        </div>

        <!-- Div qui donne style à la partie inférieur du site, avec separateur -->
        <div class="separator-bottom"></div>
    </main>
{% endblock %}
