{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/context/show.css') }}">
{% endblock %}

{% block title %}DOMMA - Contexte de travail{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>{{ context.title }}<a href="{{ path('context_edit', {'id': context.id}) }}"><i class="fa fa-pen icon-pen"></i></a></h1>
        </div>

        <!-- Affichage des flashs --->
        {{ include('_alerts.html.twig') }}

        <!-- Select fichier pour upload sur l'application -->
        <div class="upload-files">
            <h2>Importer un fichier</h2>
            {{ form_start(form) }}
            <div class="select-files-container">
                {{ form_widget(form) }}
                <button class="btn-file" id="send-file">{{ button_label|default('Envoyer') }}</button>
                <div class="file-errors-container">
                    <p id="file-messages"></p>
                    {{ form_errors(form.file) }}
                </div>
            </div>
            {{ form_end(form) }}

        </div>

        <!-- Affichage des fichiers téléchargés -->
        <div class="imported-files">
            <h3>Vos contextes de travail</h3>
            {% for import in imports %}
                <div class="import-line">
                    {% if import.status == 'Fini avec erreur' %}
                        <div class="import-line-content">
                            <div class="hover-message-container">
                                <i class="fa fa-exclamation-circle icon-erreur"></i>
                                <span class="hover-message-text">Fichier chargé avec erreur</span>
                            </div>
                            <a href="{{ path('import_show', {'context': context.id, 'id': import.id}) }}">{{ import.fileName }}</a>
                        </div>
                        {{ include('import/_delete_form.html.twig') }}
                    {% elseif import.status == 'En attente' %}
                        <div class="import-line-content">
                            <div class="hover-message-container">
                                <i class="fa fa-clock icon-loading"></i>
                                <span class="hover-message-text">En attente</span>
                            </div>
                            <a href="{{ path('import_show', {'context': context.id, 'id': import.id}) }}">{{ import.fileName }}</a>
                            <div class="hover-message-container">
                                <a href="{{ path('import_reload', {'context': context.id, 'id': import.id}) }}">
                                    <i class="fa fa-redo-alt icon-reload"></i>
                                </a>
                                <span class="hover-message-text">Charger maintenant</span>
                            </div>
                        </div>
                        {{ include('import/_delete_form.html.twig') }}
                    {% elseif import.status == 'En cours' %}
                        <div class="import-line-content">
                            <div class="hover-message-container">
                                <i class="fa fa-clock icon-loading"></i>
                                <span class="hover-message-text">En cours de chargement</span>
                            </div>
                            <a href="{{ path('import_show', {'context': context.id, 'id': import.id}) }}">{{ import.fileName }}</a>
                        </div>
                        {{ include('import/_delete_form.html.twig') }}
                    {% else %}
                        <div class="import-line-content">
                            <div class="hover-message-container">
                                <i class="fa fa-check-circle icon-check"></i>
                                <span class="hover-message-text">Chargement complet</span>
                            </div>
                            <a href="{{ path('import_show', {'context': context.id, 'id': import.id}) }}">{{ import.fileName }}</a>
                        </div>
                        {{ include('import/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <!-- Div qui donne style à la partie inférieur du site, avec separateur -->
        <div class="separator-bottom"></div>
    </main>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="{{ asset('javascript/context.js') }}"></script>
{% endblock %}
