{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/context/show.css') }}">{% endblock %}

{% block title %}DOMMA - Contexte de travail{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>{{ context.title }}<a href="{{ path('context_edit', {'id': context.id}) }}"><i class="fa fa-pen icon-pen"></i></a></h1>
        </div>

        <div class="upload-files">
            <h2>Importer un fichier</h2>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn-file">{{ button_label|default('Envoyer') }}</button>
            {{ form_end(form) }}
            <p id="file-name"></p>
        </div>

        <div class="imported-files">
            <h3>Fichiers importés</h3>
            {% for import in imports %}
                <div class="import-line">
                    {% if import.status == 'Fini avec erreur' %}
                        <div class="import-line-content">
                            <div class="hover-message-container">
                                <i class="fa fa-exclamation-circle icon-erreur"></i>
                                <span class="hover-message-text">Fichier chargé avec erreur</span>
                            </div>
                            <a href="{{ path('import_show', {'context': context.id, 'id': import.id}) }}">{{ import.fileName }}</a>
                        </div>
                        {{ include('import/_delete_form.html.twig') }}
                    {% elseif  (import.status == 'En attente') or (import.status == 'En cours') %}
                        <div class="import-line-content">
                            <div class="hover-message-container">
                                <i class="fa fa-clock icon-loading"></i>
                                <span class="hover-message-text">En cours de chargement</span>
                            </div>
                            <a href="{{ path('import_show', {'context': context.id, 'id': import.id}) }}">{{ import.fileName }}</a>
                        </div>
                        {{ include('import/_delete_form.html.twig') }}
                    {% else %}
                        <div class="import-line-content">
                            <div class="hover-message-container">
                                <i class="fa fa-check-circle icon-check"></i>
                                <span class="hover-message-text">Chargement complet</span>
                            </div>
                            <a href="{{ path('import_show', {'context': context.id, 'id': import.id}) }}">{{ import.fileName }}</a>
                        </div>
                        {{ include('import/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="separator-bottom"></div>
    </main>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="{{ asset('javascript/show_context.js') }}"></script>
{% endblock %}
