{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/css/all.css') }}">
{% endblock %}

{% block title %}<title>DOMMA - Traitement de données de masse</title>{% endblock %}

{% block body %}


    <img src="{{ asset('/img/logo.png') }}" alt="Logo">
    <h1>Traitement de données de masse</h1>
        {% if error %}
            <div class="login-error">
                <i class="fas fa-exclamation-triangle fa-2x" id="alert-icon"></i>
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        {% else %}
            <div class="login-message"></div>
        {% endif %}

    <form method="post">
        <div class="form-fields">
            <div class="field">
                <label class="label-form" for="inputUsername">Identifiant</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            </div>
            <div class="field">
                <label class="label-form" for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
            <div class="field">
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <input type="submit" class="login-button" value="Se connecter">
            </div>
        </div>
    </form>
{% endblock %}
