{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/import/show.css') }}">{% endblock %}

{% block title %}DOMMA - Import{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>{{ import.file }}</h1>
        </div>

        <div class="import-container">
            <form action="POST" class="filter-rows">
                <select class="max-rows-select">
                    <option value="" disabled selected>Lignes par page</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <input type="submit" class="max-rows-submit" value="Filtrer">
            </form>
            <form action="POST" class="checkbox-rows">
                <label id="show-all" for="show-all-rows" class="show-all-rows-checkbox">Tout afficher</label>
                <input type="checkbox" class="show-all-rows" name="show-all-rows" />
            </form>
            <form action="POST" class="search-input">
                <input type="text" class="search-on-file" placeholder="Rechercher">
                <input type="submit" value="&#xf002;" class="search-button" name="search-on-file" />
            </form>
            <a href="{{ path('macros_new') }}" id="button-new-macro">Macro <i class="fa fa-plus icon-plus-macro"></i></a>
        </div>

        <div class="macros-select-container">
            <form action="POST">
                <select class="macros-select">
                    <option value="" disabled selected>Appliquer macro</option>
                    {% for macro in macros %}
                        <option value="{{ macro.id }}">{{ macro.title }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="macros-select-submit" value="Appliquer">
            </form>
        </div>

        <div class="file-container">
                {% if (import.status == 'En attente') or (import.status == 'En cours') %}
                    <p><i class="fas fa-spinner fa-2x icon-loading"></i>En cours de chargement...</p>
                {% else %}
                    <p>Les données :)</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
