{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/import/show.css') }}">{% endblock %}

{% block title %}DOMMA - Import{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>{{ import.file }}</h1>
        </div>

        <div class="import-container">
            <form action="POST" class="filter-rows">
                <select class="max-rows-select">
                    <option value="" disabled selected>Lignes par page</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="100">Tout afficher</option>
                </select>
                <input type="submit" class="max-rows-submit" value="Filtrer">
            </form>
            <form action="POST" class="search-input">
                <input type="text" class="search-on-file" placeholder="Rechercher">
                <input type="submit" value="&#xf002;" class="search-button" name="search-on-file" />
            </form>
            <a href="{{ path('macro_new') }}" id="button-new-macro">Macro <i class="fa fa-plus icon-plus-macro"></i></a>
        </div>

        <div class="macros-select-container">
            <form action="POST">
                <select class="macros-select">
                    <option value="" disabled selected>Appliquer macro</option>
                    {% for macro in macros %}
                        <option value="{{ macro.id }}">{{ macro.title }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="macros-select-submit" value="Appliquer">
            </form>
        </div>

        <div class="file-container">
                {% if (import.status == 'En attente') or (import.status == 'En cours') %}
                    <p><i class="fas fa-spinner fa-2x icon-loading"></i>En cours de chargement...</p>
                {% else %}
                    <table class="import-table">
                        <tbody>
                        <tr>
                    {% for importColumn, importValue in importColumns %}
                            <th>{{ importColumn }}</th>
                    {% endfor %}
                        </tr>
                        <tr>
                    {% for importObjet in importContent %}
                        {% for importColumn, importValue in importObjet %}
                            <td>{{ importValue }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
