{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/import/show.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('DataTables/datatables.css') }}">
    <link rel="stylesheet" href="{{ asset('select/css/select2.css') }}">
{% endblock %}



{% block title %}DOMMA - Import{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>{{ import.fileName }}</h1>
        </div>

        <div class="import-container">
        </div>

        <div class="macros-select-container">
            <div>
                {{ form_start(macroForm) }}
                    {{ form_widget(macroForm) }}
                    <input type="submit" name="details" id="macro-details" class="macros-select-submit" value="Voir en détail">
                    <input type="submit" name="apply" id="macro-apply" class="macros-select-submit" value="Appliquer macro">
                {{ form_end(macroForm) }}
            </div>
            <a href="{{ path('macro_new') }}" id="button-new-macro">Macro <i class="fa fa-plus icon-plus-macro"></i></a>
        </div>

        <div class="file-container">
                {% if (import.status == 'En attente') or (import.status == 'En cours') %}
                    <p><i class="fas fa-spinner fa-2x icon-loading"></i>En cours de chargement...</p>
                {% else %}
                    <table class="import-table display" id="file-table">
                        <thead>
                            <tr>
                        {% for importColumn, importValue in importColumns %}
                                <th>{{ importColumn }}</th>
                        {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                        {% for importObjet in importContent %}
                            {% for importColumn, importValue in importObjet %}
                                <td>{{ importValue }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascript/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('javascript/select_apply.js') }}"></script>
    <script src="{{ asset('select/js/select2.js') }}"></script>
    <script src="{{ asset('select/js/fr.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('DataTables/datatables.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('javascript/show_import.js') }}"></script>
{% endblock %}

