{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/admin_index.css') }}">{% endblock %}

{% block body %}
    <main>
        <div class="admin-container">
            <div class="separator">
                <h1>Informations des utilisateurs</h1>
            </div>
            <a href="{{ path('admin_new') }}" id="button-new-user">Créer un compte</a>
        </div>

        <table class="table">
            <tbody>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Identifiant</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>État</th>
                <th></th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    {% if user.roles == ['ROLE_ADMIN'] %}
                        <td>Admin</td>
                    {% else %}
                        <td>Utilisateur</td>
                    {% endif %}
                        <td>Actif</td>
                    <td><a href="{{ path('admin_edit', {'id': user.id}) }}">Modifier</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
