{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/new_user.css') }}">
    <link rel="stylesheet" href="{{ asset('select/css/select2.css') }}">
{% endblock %}


{% block title %}DOMMA - Créer un nouvel utilisateur{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Création d'utilisateur</h1>
        </div>

        {{ include('_alerts.html.twig') }}

        <div class="form">
            {{ form_start(form) }}
                {{ form_widget(form.first_name,  {'attr': {'class': 'form-input', 'placeholder': 'Prénom'}} ) }}
                {{ form_widget(form.last_name,  {'attr': {'class': 'form-input', 'placeholder': 'Nom'}} ) }}
                {{ form_widget(form.email,  {'attr': {'class': 'form-input', 'placeholder': 'Email'}} ) }}
                {{ form_widget(form.username,  {'attr': {'class': 'form-input', 'placeholder': 'Identifiant'}} ) }}
                {{ form_errors(form.username) }}
            <div class="select-style">
                    {{ form_widget(form.role) }}
                </div>
                <div class="form-buttons">
                    <button class="create-user">{{ button_label|default('Créer utilisateur') }}</button>
                    <a href="{{ path('admin_index') }}" id="form-cancel">Annuler</a>
                </div>
            {{ form_end(form) }}
        </div>
        <div class="separator-bottom"></div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascript/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('javascript/selects.js') }}"></script>
    <script src="{{ asset('select/js/select2.js') }}"></script>
    <script src="{{ asset('select/js/fr.js') }}"></script>
{% endblock %}
