{% extends 'base.html.twig' %}

{% block title %}Macros{% endblock %}

{% block body %}
    <h1>Macros</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ macro.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ macro.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ macro.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('macros_index') }}">back to list</a>

    <a href="{{ path('macros_edit', {'id': macro.id}) }}">edit</a>

    {{ include('macros/_delete_form.html.twig') }}
{% endblock %}
