{% block body %}
    <footer>
        <p><span>DOMMA</span> - Traitement de données de masse</p>
        <ul>
        {% if is_granted('ROLE_USER') %}
           <li>
               <a href="{{ path('context_index') }}">Contextes de travail</a>
           </li>
            <li class="footer-bolder">|</li>
            <li>
                <a href="{{ path('users_edit', {'id': app.user.id}) }}">Gestion de compte</a>
            </li>
            <li class="footer-bolder">|</li>
            <li>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('admin_index')}}">Page d'accueil</a>
            </li>
            <li class="footer-bolder">|</li>
            <li>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        {% endif %}
        </ul>
    </footer>
{% endblock %}
