{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">{% endblock %}
<nav>
    <ul>
        <li><a href="{{ path('users_index') }}"><img src="{{ asset('img/logo.png') }}" alt="logo" id="nav-logo" /></a></li>
        <div class="dropdown">
            <button class="dropbtn">Utilisateur
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ path('users_edit', {'id': user.id}) }}">Gestion de compte</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </div>
        <li><a href="{{ path('users_index') }}"><img src="{{ asset('img/user.jpg') }}" alt="avatar" id="nav-avatar" /></a></li>
    </ul>
</nav>