<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DOMMA - Traitement de données de masse{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/css/all.css') }}">
            <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('javascript/jquery-3.4.1.min.js') }}"></script>
            <script src="{{ asset('javascript/base.js') }}"></script>
        {% endblock %}
    </body>
</html>
