{% extends 'layout.html.twig' %}

{% block title %}DOMMA - Changer mot de passe{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Changement de mot de passe</h1>
        </div>

        <!-- Formulaire de modification de mot de passe -->
        <div class="edit-container">
            <div class="form">
                {{ form_start(form, {'attr': {'class': 'edit-new-form', 'id': 'edit-password'}}) }}
                    {{ form_widget(form) }}
                    <div id="password-confirme">
                        <label for="password-confirmation" class="password-confirmation">Confirmez le nouveau mot de passe</label>
                        <input type="password" id="password-confirmation"/>
                    </div>
                    <div class="form-errors-container"></div>
                    <div class="form-buttons-password">
                        <button class="edit-user-password" id="submit-button">{{ button_label|default('Changer mot de passe') }}</button>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('users_edit', {'id': user.id}) }}" class="form-cancel">Annuler</a>
                        {% else %}
                            <a href="{{ path('admin_edit', {'id': user.id}) }}" class="form-cancel">Annuler</a>
                        {% endif %}
                    </div>
                {{ form_end(form) }}
            </div>

        </div>

        <!-- Div qui donne style à la partie inférieur du site, avec separateur -->
        <div class="separator-bottom"></div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascript/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('javascript/base.js') }}"></script>
    <script src="{{ asset('javascript/password.js') }}"></script>
{% endblock %}
