{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/user/edit.css') }}">{% endblock %}
{% block javascripts %}<script src="{{ asset('javascript/password.js') }}"></script>{% endblock %}
{% block title %}DOMMA - Changer mot de passe{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Changement de mot de passe</h1>
        </div>

        <div class="edit-container">
            <div class="form">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                <div id="password-confirme">
                    <label for="password_confirmation" class="password-confirmation">Confirmez le nouveau mot de passe</label>
                    <input type="password" id="password-confirmation"/>
                </div>
                    <div class="form-buttons-password">
                        <button class="edit-user-password" id="submit-button">{{ button_label|default('Changer mot de passe') }}</button>
                        <a href="{{ path('users_edit', {'id': user.id}) }}" id="form-cancel">Annuler</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="separator-bottom"></div>
    </main>
{% endblock %}
