{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/user/edit.css') }}">{% endblock %}
{% block title %}DOMMA - Gestion de compte{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Gestion de compte</h1>
        </div>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert-{{ label }} alert-margin-left">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        <div class="edit-container">
            <img src="{{ avatar }}" alt="avatar" id="edit-avatar" />
                {{ form_start(form) }}
                    <div class="form-errors-container">
                        {{ form_errors(form.username) }}
                    </div>
                    {{ form_widget(form) }}
                {% if is_granted('ROLE_USER') %}
                    <a id="edit-change-password" href="{{ path('users_password', {'id': user.id})  }}">Changer mot de passe</a>
                    <div class="form-buttons">
                        <button class="edit-user">{{ button_label|default('Mettre à jour') }}</button>
                        <a href="{{ path('context_index') }}" id="form-cancel">Annuler</a>
                    </div>
                {% else %}
                    <a id="edit-change-password" href="{{ path('admin_password', {'id': user.id})  }}">Changer mot de passe</a>
                    <div class="form-buttons">
                        <button class="edit-user">{{ button_label|default('Mettre à jour') }}</button>
                        <a href="{{ path('admin_index') }}" id="form-cancel">Annuler</a>
                    </div>
                {% endif %}
                {{ form_end(form) }}
        </div>
        <div class="separator-bottom"></div>
    </main>
{% endblock %}
