{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/user/edit.css') }}">{% endblock %}
{% block title %}DOMMA - Gestion de compte{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Gestion de compte</h1>
        </div>

        <div class="edit-container">
            <img src="{{ avatar }}" alt="avatar" id="edit-avatar" />
            <div class="form">
                {{ form_start(form) }}
                    {{ form_widget(form.first_name) }}
                    {{ form_widget(form.last_name) }}
                    {{ form_widget(form.email) }}
                    {{ form_widget(form.username) }}
                <p id="edit-change-password"><a href="{{ path('users_password', {'id': user.id})  }}">Changer mot de passe</a></p>
                    <div class="form-buttons">
                        <button class="edit-user">{{ button_label|default('Mettre à jour') }}</button>
                        <a href="{{ path('users_index') }}" id="form-cancel">Annuler</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="separator-bottom"></div>
    </main>
{% endblock %}
