{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/index.css') }}">
{% endblock %}

{% block title %}DOMMA - Mon profil{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Mes contextes de travail</h1>
        </div>
        <div class="contexts-container">
             {% for context in contextes %}

           <div class="context-space">
               <a href="{{ path('context_show', {'id': context.id }) }}" class="contexts-link">
                   <p class="context-title">{{ context.title }}</p>
                   <p class="context-description">{{ context.description }}</p>
               </a>
               <p class="context-days">Jours restants : {{ context.daysLeft }}</p>
               <a href="{{ path('context_edit', {'id': context.id }) }}"><i class="fas fa-cog icon-context"></i></a>
           </div>

            {% endfor %}


            <div class="context-space">
                <a href="{{ path('context_new') }}" id="link-create"><span class="context-plus">+</span></a>
            </div>
        </div>
        <div class="separator-bottom"></div>
    </main>
{% endblock %}
