{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/context/edit.css') }}">{% endblock %}

{% block title %}DOMMA - Edition de macro{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Edition de {{ macro.title }}</h1>
            {{ include('macro/_delete_form.html.twig') }}
        </div>

        <div class="edit-container">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            <div class="form-buttons">
                <button class="edit-macro">{{ button_label|default('Mettre à jour') }}</button>
                <a href="{{ path('macro_show', {'id': macro.id}) }}" id="form-cancel">Annuler</a>
            </div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
