{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/macro/new.css') }}">
{% endblock %}

{% block title %}DOMMA - Mes macros{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Mes macros</h1>
        </div>

        <!-- Affichage des flashs --->
        {{ include('_alerts.html.twig') }}

        <!-- Affichage de toutes les macros appartenants à l'utilisateur connecté -->
        <div class="container-macros">
            <div class="title-macros">
                <h2>Titre</h2>
                <h2>Description</h2>
            </div>
            <div class="content-macros">
                {% for macro in macros %}
                    <div class="macro-line">
                       <p class="macro-title">
                           <a href="{{ path('macro_edit', {'id': macro.id}) }}">
                               <span>{{ macro.title }}</span></a>
                       </p>
                       <p class="macro-description">
                           <i class="fa fa-angle-double-right icon-angle"></i>
                           {{ macro.description }}
                       </p>
                       <p><a href="{{ path('macro_edit', {'id': macro.id}) }}"><i class="fa fa-pen icon-pen-macros"></i></a></p>
                    </div>
                {% else %}
                    <p id="no-macro">Vous n'avez pas encore créé de macro.</p>
                {% endfor %}
            </div>
        </div>
        <!-- Div qui donne style à la partie inférieur du site, avec separateur -->
        <div class="separator-bottom"></div>
    </main>
{% endblock %}
