{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/macro/new.css') }}">{% endblock %}

{% block title %}DOMMA - Mes macros{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Mes macros</h1>
        </div>

        <table class="macros-container">
            <thead>
                <tr class="macros-title">
                    <th>Titre</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for macro in macros %}
                <tr class="macro-line">
                    <td><i class="fa fa-angle-double-right icon-angle"></i>
                        <a href="{{ path('macro_edit', {'id': macro.id}) }}">
                            <span>{{ macro.title }}</span></a>
                    </td>
                    <td>{{ macro.description }}</td>
                    <td><a href="{{ path('macro_edit', {'id': macro.id}) }}"><i class="fa fa-pen icon-pen"></i></a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Vous n'avez pas encore créé de macro.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </main>
{% endblock %}
