{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/macro/new.css') }}">
    <link rel="stylesheet" href="{{ asset('select/css/select2.css') }}">
{% endblock %}

{% block title %}DOMMA - Créer une macro{% endblock %}

{% block body %}
    <main>
        <div class="separator">
            <h1>Créer une macro</h1>
        </div>

        <div class="form">
            {{ form_start(form) }}
                {{ form_widget(form.title,  {'attr': {'class': 'form-input', 'placeholder': 'Titre'}} ) }}
                {{ form_widget(form.description,  {'attr': {'class': 'form-input', 'placeholder': 'Description'}} ) }}
                {{ form_widget(form.code,  {'attr': {'class': 'form-input', id: 'form-code', 'placeholder': 'Code'}} ) }}
            <div class="select-style">
                {{ form_widget(form.type) }}
            </div>
                <div class="form-buttons-macro">
                    <button id="btn-create-macro">{{ button_label|default('Créer macro') }}</button>
                    <a href="{{ path('import_show', {context: context, id: import} ) }}" class="form-cancel">Annuler</a>
                </div>
            {{ form_end(form) }}
        </div>
        <div class="separator-bottom"></div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascript/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('javascript/select_apply.js') }}"></script>
    <script src="{{ asset('select/js/select2.js') }}"></script>
    <script src="{{ asset('select/js/fr.js') }}"></script>
{% endblock %}

